@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');

:root {
    --color-background-color: #3a4750;
    --color-text-color: white;
    --color-border-color: #d81f26;
    --color-hover-color: #ff0008;
    --color-select-color: #7a7a7a;
}


html {
    background-color: var(--color-background-color);
    font-size: 65.2%;
    scroll-behavior: smooth;
}

body {
    font: 1.6rem 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--color-text-color);
}

.image {
    width: 14rem;
    float: left;
    margin: 4rem;
}

header h1 {
    padding: 2.5rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 5rem;
    background-color: var(--color-border-color);
    color: var(--color-text-color);
    border: 0.5rem solid #3a47504d;
    text-shadow: #3a4750 5px 5px;
    max-width: 100rem;
    margin: 0 auto;
}

main section h2 {
    text-align: center;
    margin: 4rem;
}

main section h2 a {
    color: var(--color-text-color);
}

main section h2 a:hover {
    color: var(--color-hover-color);
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5rem;
    margin: 0rem 10rem;
    padding: 2.5rem;
    background-color: var(--color-border-color);
    border-radius: 1rem;
}

main section ul li img {
    display: block;
    width: 100%;
    border-radius: 0.5rem;
}

main section ul li img:hover {
    transform: scale(1.03);
    transition: 0.5s;
    box-shadow: 0rem 0rem 0.5rem 0.5rem var(--color-hover-color);
}

.titre {
    text-align: center;
}

form {
    width: 80%;
    margin: 2rem auto;
}

.formulaire {
    display: flex;
    flex-direction: column;
}

label {
    margin: 1rem 29rem;
}

input {
    width: 50%;
    margin: 0rem auto;
    margin-bottom: 2rem;
}

input,
select {
    height: 5rem;
    border-radius: 1rem;
    padding-left: 1rem;
}

select {
    width: 50%;
    margin: 0rem auto;
    /* color: black; */
    background-color: white;
    margin-bottom: 2rem;
}

#ville, #pays {
    color: var(--color-select-color);
}

.button {
    margin: 5rem auto;
    width: 30%;
}

form h3 {
    font-size: 3rem;
    margin: 5rem auto;
}

footer {
    text-align: center;
    cursor: cell;
}